<h3 *ngIf="this.OrderListService.areOrdersEmpty(); else elseBlock">There are no orders yet</h3>
<ng-template #elseBlock>
<h2>Your Orders</h2>
<div *ngFor="let order of this.OrderListService.getSortedOrders()">

    <table class="table-order" style="text-align:center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{order.firstName}}</td>
            <td>{{order.lastName}}</td>
            <td>{{order.email}}</td>
            <td>{{order.phoneNumber}}</td>
            <td>{{order.address}}</td>
            <td>
              <button
                (click)= "this.OrderListService.removeFromOrders(order.id)"
                  
              >
                Delete Order
              </button>
              <!-- <button class="myButton" (click)="this.YourOrdersComponent.clicked($event)">Click me</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <table class="details" style="text-align:center">
        <thead>
          <tr>
            <th style="text-align:center">Item</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of order.cart">
              <td>{{product.name}}</td>
              <td>{{product.quantity}}</td>
            </tr>
          
            <tr>
              <td>
                 <h3>Total price: {{this.CartProductsService.getTotalPrice(order.cart)}}</h3>
              </td>
            </tr>
          
        </tbody>
      </table>
    </div>



</ng-template>
